<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--custom css file-->
    <link rel="stylesheet" href="~/css/styleLicensePage.css">
    <!--icon file-->
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3721/3721619.png">
    <title>L2D - Bằng lái A1</title>
</head>

<body>
    @{
        ViewData["Title"] = "L2D - Bằng lái A1";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="container-fluid" style="margin-top: 100px;">
        <div class="header row border-bottom border-danger hidden-load">
            <h1 class="title hidden-load col-md-4">
                Bằng lái A1
            </h1>
            <div class="description hidden-load col-md-8">
                <div class="text-content">
                    <p class="lead">Điều kiện thi
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-info-circle-fill mb-1" viewBox="0 0 16 16">
                            <path
                                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                        </svg>
                    </p>
                    <p>
                    <ul>
                        <li>
                            Đối với người có nhu cầu học và thi bằng lái xe A1, yêu cầu đáp ứng được các điều kiện được
                            đề
                            ra sau đây: <br>
                        </li>
                        <li>
                            Công dân VN hoặc nước ngoài đã đủ trên <strong>18 tuổi</strong>. Đủ trên <strong>18
                                tuổi</strong> (theo điều kiện ngày & tháng). <br>
                        </li>
                        <li>
                            Đáp ứng được các điều kiện sức khỏe (khám sức khỏe theo danh sách bệnh viện do Sở GTVT quy
                            định).
                        </li>
                    </ul>
                    </p>
                </div>
                <div class="text-content">
                    <p class="lead">Lệ phí <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23"
                            fill="currentColor" class="bi bi-cash-stack mb-1" viewBox="0 0 16 16">
                            <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                            <path
                                d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z" />
                        </svg></p>
                    <p>
                    <ul>
                        <li>
                            Lệ phí thi lý thuyết A1: <strong>40.000 đồng.</strong> <br>
                        </li>
                        <li>
                            Lệ phí thi thực hành A1: <strong>50.000 đồng.</strong> <br>
                        </li>
                        <li>
                            Phí cấp bằng lái xe hạng A1 nếu thi đỗ: <strong>135.000 đồng.</strong> <br>
                            Ngoài ra, người này có nhu cầu thi thử trước khi thi chính thức thì có thể mua vé tập thử
                            với
                            giá <strong>10.000 - 15.000 đồng/lượt.</strong>
                        </li>
                    </ul>
                    </p>
                </div>
                <div class="text-content">
                    <p class="lead">Thời gian cần nắm <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="currentColor" class="bi bi-clock mb-1" viewBox="0 0 16 16">
                            <path
                                d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                        </svg></p>
                    <ul>
                        <li>Thời hạn bằng lái: <strong>Không có thời hạn</strong></li>
                        <li>Sau khi thi mất khoảng <strong>15 ngày (trừ T7 và CN)</strong> để lấy bằng lái được cấp sau
                            khi thi đậu</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="body row border-bottom border-danger hidden-load">
            <h1 class="title hidden-load">Nội dung thi</h1>
            <div class="body-content hidden-load row">
                <div class="text-content hidden-load col-md-8">
                    <p style="text-align: justify;">
                        Đối với phần bài thi lý thuyết lái xe hạng A1 các bạn sẽ phải thi trên máy tính,
                        1 bộ đề thi cho từng người sẽ có <strong>20 câu hỏi</strong> trắc nghiệm và thời gian hoàn thành
                        giới hạn trong
                        vòng <strong>15 phút.</strong>
                        Điều kiện để vượt qua bài thi này là phải đúng <strong style="color: red;">16/20 câu.</strong>
                    </p>
                    <br>
                    <p style="text-align: justify;">
                        Ở phần thi thực hành, chúng ta bắt buộc phải vượt qua và hoàn thành đủ <strong>4 bài
                            thi</strong> cơ bản.
                        <br>
                        Bao gồm: bài thi vòng số 8, bài thi đường thẳng, bài thi đường quanh co và bài cuối cùng là
                        đường gồ ghề. <br>
                        Ngay từ vị trí xuất phát, học viên sẽ có sẵn cho mình <strong>100 điểm</strong> và khi kết thúc
                        tất cả <strong>4 bài thi</strong>
                        trên ở số điểm trên <strong style="color: red;">80/100</strong> là chúng ta sẽ đủ điều kiện đậu.
                    </p>
                </div>
                <div class="buttons hidden-load col-md-4 mb-3">
                    <button class="btn">Đăng ký hồ sơ thi</button>
                    <button class="btn">Thi thử lý thuyết</button>
                    <button class="btn">Đăng kí học</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="images col-md-3 hidden-load">
                <img src="https://vcdn-vnexpress.vnecdn.net/2022/04/14/SYM-Elegant-110-8477-1649899780.jpg" alt=""
                    class="img-fluid">
                <img src="https://vcdn-vnexpress.vnecdn.net/2022/04/14/SYM-Elegant-110-8477-1649899780.jpg" alt=""
                    class="img-fluid">
            </div>
            <div class="col-md-6 hidden-load">
                <h1 class="title hidden-load">Mẹo thi thực hành</h1>
                <div class="text-content hidden-load">
                    Hiện tại xe thì được sử dụng là wave alpha đời đầu được gắn thiết bị chấm điểm và khi tới nhận xe
                    thi, thông thường xe sẽ để máy nổ sẵn với chế độ là số 3 hoặc 4. <br> <br>
                    Các bạn chỉ cần lên xe và chờ hiệu lệnh để thực hiện bài thi của mình. <br> <br>
                    Bài thi này sẽ không có giới hạn thời gian, vì thế chúng ta không cần phải gấp gáp và chỉ cần hoàn
                    thành thật tốt với những gì mình đã học được. <br><br>
                    <h5 class="text-center"><strong>Chúc các bạn may mắn!!!</strong></h5>
                </div>
            </div>
            <div class="images col-md-3 hidden-load">
                <img src="https://vcdn-vnexpress.vnecdn.net/2022/04/14/SYM-Elegant-110-8477-1649899780.jpg" alt=""
                    class="img-fluid">
                <img src="https://vcdn-vnexpress.vnecdn.net/2022/04/14/SYM-Elegant-110-8477-1649899780.jpg" alt=""
                    class="img-fluid">
            </div>
        </div>
    </div>
    <script>
        document.querySelector('.license_list').classList.add('active');
    </script>
</body>

</html>