<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--custom css file-->
    <link rel="stylesheet" href="/css/styleLicensePage.css">
    <!--icon file-->
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2554/2554896.png">
    <title>L2D - Bằng lái A2</title>
</head>

<body>
    @{
        ViewData["Title"] = "L2D - Bằng lái A2";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="container-fluid" style="margin-top: 100px;">
        <div class="header row border-bottom border-danger hidden-load">
            <h1 class="title hidden-load col-md-4">
                Bằng lái A2
            </h1>
            <div class="description hidden-load col-md-8">
                <article class="text-content">
                    <p class="lead">
                        Thông tin
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-info-circle-fill mb-1" viewBox="0 0 16 16">
                            <path
                                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                        </svg>
                    </p>
                    <p>
                        Bằng lái xe máy hạng A2 là loại giấy phép lái xe cho phép người lái xe điều khiển xe mô tô <br>
                        hai bánh có dung tích xi lanh từ 175 cm³ trở lên và các loại xe quy định cho giấy phép lái xe
                        hạng A1.
                    </p>
                </article>
                <article class="text-content">
                    <p class="lead">
                        Điều kiện thi
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-info-circle-fill mb-1" viewBox="0 0 16 16">
                            <path
                                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                        </svg>
                    </p>
                    <p>
                        Điều kiện thi bằng lái xe B1 đã được quy định rõ ràng tại Điều 7 Thông tư 12/2017/TT-BGTVT. Theo
                        đó, người thi bằng lái xe B1 phải đáp ứng đầy đủ các điều kiện sau:
                    <ul>
                        <li>Đủ 18 tuổi trở lên</li>
                        <li>Có sức khỏe tốt, đủ điều kiện về nhận thức <br>
                            và kỹ năng điều khiển xe mô tô hai bánh có dung
                            tích xi lanh từ 175 cm³ trở lên.
                        </li>
                        <li>Có hồ sơ đăng ký thi theo quy định.</li>
                    </ul>
                    </p>
                </article>
                <article class="text-content">
                    <p class="lead">
                        Lệ phí
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                            class="bi bi-cash-stack mb-1" viewBox="0 0 16 16">
                            <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                            <path
                                d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z" />
                        </svg>
                    </p>
                    <p>
                    <ul>
                        <li>Lệ phí thi lý thuyết: 55.000 đồng</li>
                        <li>Lệ phí thi thực hành: 65.000 đồng</li>
                        <li>Phí cấp bằng lái xe A2: 150.000 đồng</li>
                    </ul>
                    </p>
                </article>
                <article class="text-content">
                    <p class="lead">
                        Thời hạn
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-clock mb-1" viewBox="0 0 16 16">
                            <path
                                d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                        </svg>
                    </p>
                    <p>Bằng lái xe máy hạng A2 có thời hạn 5 năm kể từ ngày cấp.</p>
                </article>
            </div>
        </div>
        <section class="body row border-bottom border-danger hidden-load">
            <h1 class="title hidden-load">Nội dung thi</h1>
            <div class="body-content hidden-load row">
                <div class="text-content hidden-load col-md-8">
                    <h2>Thi Lý Thuyết</h2>
                    <p style="text-align: justify;">
                        Gồm <strong>25 câu hỏi</strong> trắc nghiệm khách quan,
                        thời gian làm bài <strong>25 phút</strong>, đạt <strong style="color: red;">22/25 câu</strong>
                        trở lên mới được thi thực hành.
                    </p>
                    <h2>Thi thực hành</h2>
                    <p style="text-align: justify;">
                        Gồm 4 bài thi, thời gian làm bài <strong>15 phút</strong>, đạt <strong
                            style="color: red;">80/100</strong> điểm mới đạt.
                    </p>
                </div>
                <div class="buttons hidden-load col-md-4 mb-3">
                    <button class="btn">Đăng ký hồ sơ thi</button>
                    <button class="btn" onclick="location.href='/Quiz?licenseid=A2';">Thi thử lý thuyết</button>
                    <button class="btn">Đăng kí học</button>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="images col-md-3 hidden-load">
                <img src="https://cdn.diemnhangroup.com/seoulacademy/2023/02/thi-sat-hach-lai-xe-b1-gom-nhung-gi-7.jpg"
                    alt="" class="img-fluid mb-5">
                <img src="https://cdn.diemnhangroup.com/seoulacademy/2023/02/thi-sat-hach-lai-xe-b1-gom-nhung-gi-5.jpg"
                    alt="" class="img-fluid">
            </div>
            <div class="col-md-6 hidden-load">
                <h1 class="title hidden-load">Mẹo thi thực hành</h1>
                <article>
                    <h4><strong>Bài thi 1: Đi theo hình số 8:</strong></h4>
                    <br>
                    Nhanh chóng điều khiển xe đi vào hình số 8 theo hướng dẫn của giám khảo.
                    Giữ tốc độ đều, không đi quá nhanh hoặc quá chậm.
                    Không để xe chạm vào vạch giới hạn.
                </article>

                <article>
                    <h4><strong>Bài thi 2: Qua vạch đường thẳng:</strong></h4>
                    <br>
                    Nhanh chóng điều khiển xe qua vạch đường thẳng theo hướng dẫn của giám khảo.
                    Giữ tốc độ đều, không đi quá nhanh hoặc quá chậm.
                    Không để xe chạm vào vạch giới hạn.
                </article>

                <article>
                    <h4><strong>Bài thi 3: Qua đường có vạch cản:</strong></h4>
                    <br>
                    Nhanh chóng điều khiển xe qua đường có vạch cản theo hướng dẫn của giám khảo.
                    Giữ tốc độ đều, không đi quá nhanh hoặc quá chậm.
                    Không để xe chạm vào vạch cản.
                </article>

                <article>
                    <h4><strong>Bài thi 4: Qua đường gồ ghề:</strong></h4>
                    <br>
                    Nhanh chóng điều khiển xe qua đường gồ ghề theo hướng dẫn của giám khảo.
                    Giữ tốc độ đều, không đi quá nhanh hoặc quá chậm.
                    Không để xe bị ngã.
                </article>

                <article>
                    <h4><strong>Ngoài ra, có một số điểm khác biệt giữa bằng lái xe máy hạng A1 và A2 như sau:</strong>
                    </h4>
                    <ul>
                        <li>
                            Bằng lái xe máy hạng A2 cho phép điều khiển xe có dung tích xi lanh lớn hơn, từ 175 cm³ trở
                            lên.
                        </li>
                        <li>

                            Số lượng câu hỏi thi lý thuyết của bằng lái xe máy hạng A2 nhiều hơn, 25 câu so với 20 câu
                            của bằng
                            lái xe máy hạng A1.
                        </li>
                        <li>
                            Điểm thi lý thuyết đạt yêu cầu của bằng lái xe máy hạng A2 cao hơn, 22/25 so với 18/20 của
                            bằng lái
                            xe máy hạng A1.
                        </li>
                        <li>
                            Lệ phí thi lý thuyết của bằng lái xe máy hạng A2 cao hơn, 55.000 đồng so với 45.000 đồng của
                            bằng
                            lái xe máy hạng A1.
                        </li>
                    </ul>
                </article>
                <h5 class="text-center"><strong>Chúc các bạn may mắn!!!</strong></h5>
            </div>
                <div class="images col-md-3 hidden-load">
                    <img src="https://cdn.diemnhangroup.com/seoulacademy/2023/02/thi-sat-hach-lai-xe-b1-gom-nhung-gi-2.jpg"
                        alt="" class="img-fluid mb-5">
                    <img src="https://cdn.diemnhangroup.com/seoulacademy/2023/02/thi-sat-hach-lai-xe-b1-gom-nhung-gi-2.jpg"
                        alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <style>
            .images :is(img) {
                border-radius: 3px;
            }
        </style>
        <script>
            document.querySelector('.license_list').classList.add('active');
        </script>
</body>

</html>