<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--custom css file-->
    <link rel="stylesheet" href="/css/styleLicensePage.css">
    <!--icon file-->
    <link rel="icon" href="https://photo-cms-giaoduc.epicdn.me/w700/Uploaded/2023/xujji/2012_05_16/Marussia%20B1-B2-sieu-xe-lamborghini-ferrari%20(2).jpg">
    <title>L2D - Bằng lái B2</title>
</head>

<body>
    @{
        ViewData["Title"] = "L2D - Bằng lái B2";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="container-fluid" style="margin-top: 100px;">
        <div class="header row border-bottom border-danger hidden-load">
            <h1 class="title hidden-load col-md-4">
                Bằng lái B2
            </h1>
            <div class="description hidden-load col-md-8">
                <article class="text-content">
                    <p class="lead">
                        Thông tin
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                             fill="currentColor" class="bi bi-info-circle-fill mb-1" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                        </svg>
                    </p>
                    <p>
                        Bằng lái xe B2 là giấy phép lái xe hạng thấp nhất do cơ quan nhà nước có thẩm quyền cấp cho chủ
                        phương tiện theo quy định được nêu rõ tại Thông tư 12/2017/TT-BGTVT. <br>
                        Theo đó, bằng lái xe B2 dành cho người điều khiển xe ô tô số tự động và không có mục đích kinh
                        doanh. Bao gồm các loại xe sau:
                    </p>
                    <ul>
                        <li>Xe ô tô số tự động 09 chỗ ngồi bao gồm cả ghế lái xe</li>
                        <li>Xe ô tô tải số tự động dưới 3.500 kg</li>
                        <li>Xe kéo thêm rơ mooc tải trọng dưới 3.500 kg</li>
                    </ul>
                </article>
                <article class="text-content">
                    <p class="lead">
                        Điều kiện thi
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-info-circle-fill mb-1" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                        </svg>
                    </p>
                    <p>
                        Điều kiện thi bằng lái xe B2 đã được quy định rõ ràng tại Điều 7 Thông tư 12/2017/TT-BGTVT. Theo
                        đó, người thi bằng lái xe B2 phải đáp ứng đầy đủ các điều kiện sau:
                        <ul>
                            <li>Tuổi từ đủ 18 tuổi trở lên</li>
                            <li>Đủ sức khỏe để lái xe theo quy định của Bộ Y tế</li>
                            <li>Đã học và sát hạch đạt yêu cầu theo chương trình đào tạo lái xe hạng B2</li>
                        </ul>
                    </p>
                </article>
                <article class="text-content">
                    <p class="lead">
                        Lệ phí
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23"
                             fill="currentColor" class="bi bi-cash-stack mb-1" viewBox="0 0 16 16">
                            <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                            <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z" />
                        </svg>
                    </p>
                    <p>
                        Từ ngày 1/8/2023, Mức phí thi sát hạch lái xe ô tô (hạng xe B1, B2, C, D, E, F): <br>
                        mức thu từ <strong>80.000 đồng/lần</strong> đến <strong style="color: red;">
                            350.000
                            đồng/lần.
                        </strong>

                    </p>
                </article>
                <article class="text-content">
                    <p class="lead">
                        Thời gian cần nắm
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                             fill="currentColor" class="bi bi-clock mb-1" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                        </svg>
                    </p>
                    Theo quy định tại Điều 17 Thông tư 12/2017/TT-BGTVT về thời hạn sử dụng của giấy phép lại xe
                    hạng B2 như sau:
                    <ul>
                        <li>
                            Đối với nữ giới, thời hạn sử dụng được tính đến khi chủ giấy tờ đến đủ <strong>
                                55
                                tuổi
                            </strong>
                        </li>
                        <li>
                            Trường hợp người lái xe trên 45 tuổi thì giấy phép lái xe hạng B2 được cấp có thời hạn <strong>10 năm</strong> kể từ ngày cấp
                        </li>
                        <li>
                            Đối với nam giới, thời hạn sử dụng được tính đến khi chủ giấy tờ đến đủ <strong>
                                60
                                tuổi
                            </strong>
                        </li>
                        <li>
                            Trường hợp người lái xe trên 45 tuổi với nữ giới và trên 50 tuổi với nam giới thì giấy phép
                            lái
                            xe hạng B2 được cấp có thời hạn <strong>10 năm</strong> kể từ ngày cấp.
                        </li>
                    </ul>
                </article>
            </div>
        </div>
        <section class="body row border-bottom border-danger hidden-load">
            <h1 class="title hidden-load">Nội dung thi</h1>
            <div class="body-content hidden-load row">
                <div class="text-content hidden-load col-md-8">
                    <h2>Thi Lý Thuyết</h2>
                    <p style="text-align: justify;">
                        Hiện nay phần thi lý thuyết lấy bằng B2 được thi trực tuyến thông quan mạng internet. Thí sinh
                        chỉ cần đăng nhập thông tin sau đó tiến hành bài thi trên máy tính.
                        Hình thức thi sẽ là <strong>30 câu hỏi</strong> trắc nghiệm trong vòng <strong style="color: red;">20 phút</strong>. Và mọi người sẽ cần phải vượt qua <strong style="color: red;">27 câu</strong> để đậu. <br>
                        Ngoài ra cần chú ý sẽ có các câu điểm liệt mà chỉ cần làm sai một câu này cũng sẽ bị đánh
                        rớt.
                    </p>
                    <h2>Thi thực hành</h2>
                    <p style="text-align: justify;">
                        Thi sát hạch lái xe B2 gồm những gì không thể không nhắc đến sa hình.
                        Sau khi hoàn thành thi lý thuyết mọi người sẽ được thông báo kết quả liền lúc đó.
                        Nếu đậu các thí sinh sẽ tiếp tục bước vào phần thi sa hình.
                        Đây là thi thực hành lái xe qua nhiều các tình huống mô phỏng thực tế khác nhau.
                        Và thường sẽ có tổng cộng 11 bài thi trong phần thi sa hình.
                        <ul>
                            <li>
                                Bài 1: Khởi động xe xuất phát bắt đầu phần thi. Đây là một trong những nội dung đơn giản mà
                                thí
                                sinh cần thực hiện hoàn chỉnh để lấy điểm.
                            </li>
                            <li>Bài 2: Thực hiện thao tác cho xe dừng ở vạch báo cho người đi bộ.</li>
                            <li>Bài 3: Thi dừng xe dưới dốc và khởi hành xe qua dốc.</li>
                            <li>Bài 4: Bài thi lái xe qua hình vẹt bánh xe và đoạn đường vuông gốc.</li>
                            <l1>Bài 5: Bài thi qua ngã tư đường có tín hiệu đèn giao thông.</l1>
                            <li>Bài 6: Thực hành lái xe qua đoạn đường quanh co.</li>
                            <li>Bài 7: Thực hiện lái xe dọc và chuồng đỗ xe.</li>
                            <li>Bài 8: Thực hiện thao tác dừng trước điểm giao với đường sắt tương tự như bài 2.</li>
                            <li>Bài 9: Thực hiện thao tác tăng tốc và giảm tóc xe trên đoạn đường quy định.</li>
                            <li>Bài 10: Lái xe ghép ngang vào chuồng đỗ.</li>
                            <li>Bài 11: Bài thi kết thúc phần thi sa hình.</li>
                        </ul>
                    </p>
                </div>
                <div class="buttons hidden-load col-md-4 mb-3">
                    <button class="btn">Đăng ký hồ sơ thi</button>
                    <button class="btn">Thi thử lý thuyết</button>
                    <button class="btn">Đăng kí học</button>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="images col-md-3 hidden-load">
                <img src="https://hoclaixeb2hanoi.com/wp-content/uploads/2022/04/quy-trinh-thi-bang-lai-xe-b2-01.jpeg" alt=""
                     class="img-fluid mb-5">
                <img src="https://truongdaotaolaixehcm.com/wp-content/uploads/2017/12/huong-dan-11-bai-thi-sat-hach-xe-o-to-bang-video.jpg" alt=""
                     class="img-fluid">
            </div>
            <div class="col-md-6 hidden-load">
                <h1 class="title hidden-load">Mẹo thi thực hành</h1>
                <div class="text-content hidden-load">
                    <h2 class="mt-2">Mẹo phần thi sa hình</h2>
                    <ul style="text-align: justify;">
                        <li>
                            Hãy tập luyện thường xuyên tại các trung tâm có sân sa hình để làm quen, tránh không rõ quy
                            tắc
                            khi dự thi.
                        </li>
                        <li>Chú ý đèn tín hiệu xi nhan trái phải trong bài thi đầu tiên và cuối cùng.</li>
                        <li>
                            Xuyên suốt phần thi sa hình mọi người tốt nhất hãy lái xe chậm. Tuy nhiên nếu các đoạn đường
                            thông thoáng có thể tăng tốc độ lên đôi chút để đảm bảo đủ thời gian.
                        </li>
                        <li>
                            Thi sa hình mỗi vị trí đều có các vạch giới hạn, cần chú ý không để bánh xe chạm vào các
                            vạch
                            này.
                        </li>
                        <li>Khi thi tuyệt đối không được chạy quá gần với xe thi phía trước.</li>
                        <li>Luôn thực hiện đúng hướng đường và thứ tự các bài thi nếu không muốn bị loại.</li>
                    </ul>
                    <h2 class="mt-2">Mẹo phần thi đường trường</h2>
                    <ul style="text-align: justify;">
                        <li>Sau khi có tín hiệu bắt đầu bài thi khoảng 30 giây mà thí sinh không thể cho xe di chuyển.</li>
                        <li>Lái xe lên vỉa hè.</li>
                        <li>Lái xe vi phạm luật giao thông.</li>
                        <li>Lái xe gây tai nạn trong quá trình tiến hành bài thi.</li>
                        <li>Cùng với đó nếu bị trừ quá nhiều lỗi nhỏ dẫn đến điểm quá thấp cũng không vượt qua phần thi này.</li>
                    </ul>
                    <h5 class="text-center"><strong>Chúc các bạn may mắn!!!</strong></h5>
                </div>
            </div>
            <div class="images col-md-3 hidden-load">
                <img src="https://trungtamhoanggia.com/Images/News/trungtamhoanggia_full_31342018_043426.jpg" alt=""
                     class="img-fluid mb-5">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtCVS3mbY3B6vgHD0itbsc4ZYTkS39RkQIHg&usqp=CAU" alt=""
                     class="img-fluid">
            </div>
        </div>
    </div>
    <style>
        .images :is(img) {
            border-radius: 3px;
        }
    </style>
    <script>
        document.querySelector('.license_list').classList.add('active');
    </script>
</body>

</html>