
* {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
a {
    text-decoration: none;
}
/*Variables*/

:root {
    --main-color: #d90429;
    --text-color: #020102;
    --bg-color: #fff;
}

/* custom scroll Bar*/
html::-webkit-scrollbar {
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background: var(--text-color);
}

section {
    padding: 4rem 0 2rem;

}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

.container {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header.shadow {
    background-color: var(--bg-color);
    box-shadow: 4px 4px 4px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
}

header.shadow #search-icon {
    color: var(--text-color);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* padding: 20px 35px; */
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}


.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;
    column-gap: 2rem;
    flex-direction: row ;
    align-items: center;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;

}

.navbar a:hover,
.navbar .active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.discover-button {
    border-radius: 10px;
}

#search-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--bg-color);
    display: flex;
    align-items: center;
}

.search-box {
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}

.search-box.active {
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}

.search-box input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;

}


/*load animations*/
.hidden-load {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-10vw);
    transition: all 1s;
}

.show-load {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.current-playlist-name {
    font-weight: bold;
}

@media(prefers-reduced-motion) {
    .hidden-load {
        transition: none;
    }
}