* {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

h3,
a {
    text-decoration: none;
}

h3 {
    padding-top: 6px;
}

:root {
    /* --color-primary: #7380ec; */
    --color-primary: #d90429;
    --color-primary2: #d90429;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dceleb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
    --trnasistion: all 300ms ease;
}

.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}


h5 {
    font-size: 0.77rem;
}


small {
    font-size: 0.75rem;
}


p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
    font-size: 1rem;
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.danger {
    color: red;
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}


aside {
    height: 100vh;
    background: var(--color-white);
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .close {
    display: none;
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}

/*=================================== SIDEBAR ===================================*/
aside .sidebar-menu {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside .sidebar-menu h3 {
    font-weight: 500;
}

aside .sidebar-menu a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar-menu a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar-menu a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar-menu a.active {
    background: var(--color-light);
    color: var(--color-primary2);
    margin-left: 0;
    border-radius: 7px;
}

aside .sidebar-menu a.active::before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar-menu a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar-menu a:hover {
    color: var(--color-primary2);
}

aside .sidebar-menu a:hover span {
    margin-left: 1rem;
}

aside .sidebar-menu .message-count {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

main {
    margin-top: 1.4rem;
}

main .form-group {
    margin-top: 1.4rem;
}

main .search-input {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 0.05rem;
    padding: 0.5rem 1.6rem;
}

main .search-input input[type="text"] {
    background: transparent;
    color: var(--color-dark);
}

/*===================== List ===================== */
main .recent-order-list {
    margin-top: 4rem;
    height: 100%;
}

main .recent-order-list h2 {
    margin-left: 0.8rem;
}

main .recent-order-list table {
    background: var(--color-white);
    width: 100%;
    /* border-radius: var(--card-border-radius); */
    border-radius: 10px;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    font-size: 15px;
    height: 60%;
}


main .recent-order-list table:hover {
    box-shadow: none;
}

main .recent-order-list table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark);
}

main .recent-order-list table tr:last-child td {
    border: none;
}

main .recent-order-list a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

.pagination li:hover {
    cursor: pointer;
}

table tbody tr {
    display: none;
}