* {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/*Variables*/

:root {
    --main-color: #d90429;
    --text-color: #020102;
    --bg-color: #fff;
}

/* custom scroll Bar*/
html::-webkit-scrollbar {
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background: var(--text-color);
}

section {
    padding: 4rem 0 2rem;

}

img {
    width: 100%;
}

body {
    color: var(--text-color);
    display: grid;
    align-items: end;
    place-content: center;
}

.container {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header.shadow {
    background-color: var(--bg-color);
    box-shadow: 4px 4px 4px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
}

header.shadow #search-icon {
    color: var(--text-color);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* padding: 20px 35px; */
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}


.logo span {
    color: var(--main-color);
}

.navbar {
    display: flex;
    column-gap: 2rem;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;

}

.navbar a:hover,
.navbar .active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.discover-button {
    border-radius: 10px;
}

#search-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--bg-color);
    display: flex;
    align-items: center;
}

.search-box {
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}

.search-box.active {
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}

.search-box input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;

}

.dropdown-toggle {
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    perspective: 1000px;
    z-index: 100;

    &:hover {
        cursor: pointer;
    }

    &:hover .dropdown_menu li {
        display: block;
    }
}

.dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    perspective: 1000px;
    z-index: -1;
}

.dropdown_menu li {
    display: none;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    opacity: 0;

    &:hover {
        /* background-color: #2980b9; */
        background-color: #d90429;
        color: white;
    }
}

/*ANIMATION FUCK YEAH */
.dropdown-toggle:hover .dropdown_menu--animated {
    display: block;
}

.dropdown_menu--animated {
    display: none;
}

.dropdown_menu--animated li {
    display: block;
    opacity: 1;
}

.dropdown_menu-1 {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}

/*Intro */

.intro-title,
.second-section-container-title {
    text-align: center;
    padding-bottom: 30px;
}

.intro-title h2,
.second-section-container-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: black;
}

.intro-title h2 span {
    color: red;
}

.intro-title h2::before,
.second-section-container-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.intro-title h2::after,
.second-section-container-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: black;
    bottom: 0;
    left: calc(50% - 20px);
}

/*BOX */
.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: center;
    height: 120%;
}

.box-container h2 {
    color: black;
}

.box-container .box {
    flex: 1 1 17rem;
    position: relative;
    height: 100px;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 0 .1em;
    cursor: pointer;
    /* color: #1095c1; */
    border: solid #0000;
    margin-left: 10px;
}

.box-container .box p {
    font-weight: 400;
    font-size: 1rem;
    padding: 8px;
    border-radius: 0.5rem;
}

.hover-box {
    border-width: .1em .1em calc(.1em + 20px) calc(.1em + 20px);
    /* background:
        conic-gradient(at left 20px bottom 20px,
            #0000 90deg, rgb(255 255 255 /0.3) 0 225deg, rgb(255 255 255 /0.6) 0) border-box,
        conic-gradient(at left calc(.1em + 20px) bottom calc(.1em + 20px),
            #0000 90deg, #1095c1 0) 0 100%/calc(100% - .1em) calc(100% - .1em) border-box; */
    background:
        conic-gradient(at left 20px bottom 20px,
            #0000 90deg, rgb(255 255 255 /0.3) 0 225deg, rgb(255 255 255 /0.6) 0) border-box,
        conic-gradient(at left calc(.1em + 20px) bottom calc(.1em + 20px),
            #0000 90deg, #f33e3e 0) 0 100%/calc(100% - .1em) calc(100% - .1em) border-box;
    transform: translate(calc(20px/-1), 20px);
    clip-path:
        polygon(20px 0%,
            20px 0%,
            100% 0%,
            100% calc(100% - 20px),
            100% calc(100% - 20px),
            20px calc(100% - 20px));
    transition: 0.5s;
}

.hover-box:hover {
    transform: translate(0, 0);
    clip-path:
        polygon(0% 20px,
            20px 0%,
            100% 0%,
            100% calc(100% - 20px),
            calc(100% - 20px) 100%,
            0% 100%);
}

.intro .intro-content h3 {
    font-weight: 600;
    font-size: 26px;
}

.intro .intro-content h3 {
    font-weight: 600;
    font-size: 26px;
}

.intro .intro-content ul {
    list-style-type: none;
    padding: 0;
}

.intro .intro-content ul li {
    padding-left: 28px;
    position: relative;
}

.intro .intro-content ul li+li {
    margin-top: 10px;
}

.intro-content-right {
    margin-bottom: 0;
    font-size: 20px;
}

.keyword {
    font-weight: bold;
    font-style: italic;
}


/*SECOND SECTION*/
.second {
    transition: all ease-in-out 0.4s;
    background-color: #f3f5fa;
}

.second-section-container-left {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 2rem;
}

.second-section-container-left .box2 {
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.second-section-container-leftr .box2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.second-section-container-left .box2 img:hover {
    transform: scale(1.1);
    transition: 0.25s ease-in-out;
}

.second-section-container-right-content {
    font-size: 20px;
}

/*------------------------------------------------------------
Third Section */
.section-bg {
    /* background-color: #6bc1e9; */
    background-color: #FF6969;
}

.third .third-section-content {
    padding: 60px 100px 0 100px;
}

.third .third-section-content h3 {
    font-weight: 400;
    font-size: 37px;
    /* color: #37517e; */
    color: white;
}

.third .third-section-content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

.third .third-section-content p {
    font-size: 15px;
    /* color: #848484; */
    color: white;
}

.third .accordion-list {
    padding: 0 100px 60px 100px;
}

.third .accordion-list ul {
    padding: 0;
    list-style: none;
}

.third .accordion-list li+li {
    margin-top: 15px;
}

.third .accordion-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}

.third .accordion-list a {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
}

.third .accordion-list span {
    /* color: #47b2e4; */
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
}

.third .accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.third .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.third .accordion-list .icon-show {
    display: none;
}

.third .accordion-list a.collapsed {
    color: #343a40;
}

.third .accordion-list a.collapsed:hover {
    color: #47b2e4;
}

.third .accordion-list a.collapsed .icon-show {
    display: inline-block;
}

.third .accordion-list a.collapsed .icon-close {
    display: none;
}

/*------------------------------------------
Fourth Section */

.fourth {
    /* background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url("../img/cta-bg.jpg") fixed center center; */
    background-color: #FF6969;
    background-size: cover;
    padding: 120px 0;
}

.fourth h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.fourth p {
    color: #fff;
}

.fourth .fourth-section-btn {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

.fourth .fourth-section-btn:hover {
    background: #47b2e4;
    border: 2px solid #47b2e4;
}

@media (max-width: 1024px) {
    .fourth {
        background-attachment: scroll;
    }
}

@media (min-width: 769px) {
    .fourth .fourth-section-container-btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}




@media (max-width: 1024px) {

    .third .third-section-content,
    .third .accordion-list {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) {
    .third .img {
        min-height: 400px;
    }

    .third .content {
        padding-top: 30px;
    }

    .third .accordion-list {
        padding-bottom: 30px;
    }
}

@media (max-width: 575px) {
    .third .img {
        min-height: 200px;
    }
}



























/*Footer */
.footer {
    background: var(--text-color);
    color: #f6f6f6;
    border-top: 2px solid var(--main-color);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.footer-container .logo {
    color: var(--bg-color);
    margin-bottom: 1rem;

}

.footer-container .footer-box {
    display: flex;
    flex-direction: column;
}


.social {
    display: flex;
    align-items: center;
}

.social a {
    font-size: 24px;
    color: var(--bg-color);
    margin-right: 1rem;
}


.social a:hover {
    color: var(--main-color);
}


.footer-box h3 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;

}


.footer-box p:hover {
    color: var(--main-color);
}


.footer-box a,
.footer-box p {
    color: #818181;
    margin-bottom: 10px;

}


.footer-box a:hover {
    color: var(--main-color);
}


.copyright {
    padding: 20px;
    text-align: center;
    color: var(--bg-color);
    background: var(--text-color);
    cursor: pointer;
}

.copyright p:hover {
    color: var(--main-color);
}

/*--------------------------------------------------------------------------------------------------------- */

@media (max-width: 1080px) {
    /* .container {
        margin-left: 1rem;
        margin-right: 1rem;
    } */
}

@media (max-width: 991px) {
    .nav {
        padding: 15px 20px;
    }

    section {
        padding: 3rem 0 1rem;
    }

    .home-text {
        padding-left: 2rem;
    }

    .home-text h1 {
        font-size: 2.1rem;
    }
}

@media (max-width: 920px) {
    #search-icon {
        color: var(--text-color);
    }
}

@media (max-width: 768px) {
    .search-box input {
        padding: 15px;
    }

    .navbar li a {
        border-radius: 10px;
    }

    /* .nav {
        padding: 10px 0;
    } */
    .search-bar {
        width: 100vw;
    }

    #menu-icon {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 0.5rem;
        text-align: center;
        box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
        clip-path: circle(0% at 0% 0%);
        transition: 0.6s;
    }

    .navbar a {
        display: block;
        padding: 15px;
    }

    .navbar a:hover,
    .navbar .active {
        border-bottom: none;
        background: var(--main-color);
        color: var(--bg-color);
    }

    .navbar.active {
        clip-path: circle(144% at 0% 0%);
    }

    .blog-container .box {
        padding: 4px;
    }
}

@media (max-width: 727px) {
    .heading span {
        font-size: 0.9rem;
    }

    .heading h2 {
        font-size: 1.4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-text {
        text-align: center;
    }

    .about-text h2 {
        font-size: 1.4rem;
    }
}

@media (max-width: 607px) {
    .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 360px) {
    .search-box input {
        padding: 11px;
    }

    .home {
        min-height: 500px;
    }

    .home-text h1 {
        font-size: 2rem;
    }

    .home-text p br {
        display: contents;
    }
}

@media (min-width: 768px) {
    .nav {
        margin-inline: 200px;
    }
}

@media (max-width: 768px) {
    .home {
        background-size: contain;
    }

}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}

.dropdown-toggle {
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 18px;
    perspective: 1000px;
    z-index: 100;

    &:hover {
        cursor: pointer;
    }

    &:hover .dropdown_menu li {
        display: block;
    }
}

.dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    perspective: 1000px;
    z-index: -1;
}

.dropdown_menu li {
    display: none;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    opacity: 0;

    &:hover {
        /* background-color: #2980b9; */
        background-color: #d90429;
        color: white;
    }
}

/*ANIMATION FUCK YEAH */
.dropdown-toggle:hover .dropdown_menu--animated {
    display: block;
}

.dropdown_menu--animated {
    display: none;
}

.dropdown_menu--animated li {
    display: block;
    opacity: 1;
}

.dropdown_menu-1 {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

/*load animations*/
.hidden-load {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-10vw);
    transition: all 1s;
}

.show-load {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden-load {
        transition: none;
    }
}