* {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --main-color: #d90429;
    --text-color: #020102;
    --bg-color: #fff;
}

.is-active :is(*, svg) {
    color: var(--main-color);
    font-weight: bold;
}

#submitButton {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
