<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--custom css file-->
    <link rel="stylesheet" href="/css/styleLicensePage.css">
    <!--icon file-->
    <link rel="icon"
        href="https://photo-cms-giaoduc.epicdn.me/w700/Uploaded/2023/xujji/2012_05_16/Marussia%20B1-B2-sieu-xe-lamborghini-ferrari%20(2).jpg">
    <title>L2D - Bằng lái B2</title>
</head>

<body>
    @{
        ViewData["Title"] = "L2D - Bằng lái B2";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <div class="container-fluid" style="margin-top: 100px;">
        <div class="header row border-bottom border-danger hidden-load">
            <h1 class="title hidden-load col-md-4">
                Bằng lái B2
            </h1>
            <div class="description hidden-load col-md-8">
                <article class="text-content">
                    <p class="lead">
                        Thông tin
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-info-circle-fill mb-1" viewBox="0 0 16 16">
                            <path
                                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                        </svg>
                    </p>
                    <p>
                        Người có bằng B2 có thể điều khiển các loại phương tiện giao thông như ô tô chở người đến 09 chỗ
                        ngồi, <br>
                        kể cả chỗ ngồi cho người lái xe; ô tô chuyên dùng có trọng tải thiết kế dưới 3,5 tấn; <br>
                        ô tô tải, kể cả ô tô tải chuyên dùng có trọng tải thiết kế dưới 3,5 tấn; <br>
                        máy kéo kéo một rơ moóc có trọng tải thiết kế dưới 3,5 tấn.
                    </p>
                </article>
                <article class="text-content">
                    <p class="lead">
                        Điều kiện thi
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-info-circle-fill mb-1" viewBox="0 0 16 16">
                            <path
                                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                        </svg>
                    </p>
                    <p>
                        Để đủ điều kiện tham gia kỳ thi sát hạch bằng lái xe ô tô B2, người đăng ký cần hoàn tất chi phí
                        học bằng lái xe B2 và chi phí làm hồ sơ. <br>
                        Người muốn thi bằng lái đủ 18 tuổi phải là công dân Việt Nam hoặc công dân nước ngoài đang sinh
                        sống hợp pháp tại Việt Nam. <br>
                        Những người có thị lực dưới 5/10 (được phép đeo kính khi đo thị lực) hoặc người bị tật hoặc các
                        bệnh về mắt như: quáng gà, chói lóa không được thi bằng lái xe ô tô.
                    </p>
                </article>
                <article class="text-content">
                    <p class="lead">
                        Lệ phí
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor"
                            class="bi bi-cash-stack mb-1" viewBox="0 0 16 16">
                            <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1H1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                            <path
                                d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2H3z" />
                        </svg>
                    </p>
                    <p>
                        Lệ phí thi sát hạch lái xe hạng B2 là <strong>580.000 đồng/ học viên</strong>.
                        Tổng chi phí học bằng B2 trọn gói cho 1 khóa học bao gồm: chi phí hồ sơ, lệ phí khám sức khỏe,
                        lệ phí thi sát hạch, chi phí học lái xe lý thuyết, phí đào tạo thực hành (bao gồm sa hình, đường
                        trường, km DAT, ca bin mô phỏng), phí tài liệu, giáo trình học lái xe B2, giáo viên dẫn học viên
                        đi thi…
                        Tổng cộng từ <strong>9.000.000đ đến 11.000.000đ.</strong>

                    </p>
                </article>
                <article class="text-content">
                    <p class="lead">
                        Thời hạn
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-clock mb-1" viewBox="0 0 16 16">
                            <path
                                d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                        </svg>
                    </p>
                    Theo quy định của Bộ Giao thông vận tải về thời hạn các hạng bằng lái xe, bằng lái xe ô tô hạng B2
                    có thời hạn sử dụng là 10 năm kể từ ngày cấp.
                </article>
            </div>
        </div>
        <section class="body row border-bottom border-danger hidden-load">
            <h1 class="title hidden-load">Nội dung thi</h1>
            <div class="body-content hidden-load row">
                <div class="text-content hidden-load col-md-8">
                    <h2>Thi Lý Thuyết</h2>
                    <p style="text-align: justify;">
                        30 câu hỏi, thời gian làm bài 25 phút, đạt 26/30 câu là đậu.
                    </p>
                    <h2>Thi thực hành</h2>
                    <p style="text-align: justify;">
                        Phần 1: Khởi động, di chuyển, dừng, đỗ xe trong hình số 8. <br>
                        Phần 2: Lái xe theo sa hình. <br>
                        Phần 3: Lái xe trên đường giao thông.
                    </p>
                </div>
                <div class="buttons hidden-load col-md-4 mb-3">
                    <button class="btn">Đăng ký hồ sơ thi</button>
                    <button class="btn" onclick="location.href='/Quiz?licenseid=B2';">Thi thử lý thuyết</button>
                    <button class="btn">Đăng kí học</button>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="images col-md-3 hidden-load">
                <img src="https://hoclaixeb2hanoi.com/wp-content/uploads/2022/04/quy-trinh-thi-bang-lai-xe-b2-01.jpeg"
                    alt="" class="img-fluid mb-5">
                <img src="https://truongdaotaolaixehcm.com/wp-content/uploads/2017/12/huong-dan-11-bai-thi-sat-hach-xe-o-to-bang-video.jpg"
                    alt="" class="img-fluid">
            </div>
            <div class="col-md-6 hidden-load">
                <h1 class="title hidden-load">Mẹo thi thực hành</h1>
                <div class="text-content hidden-load">
                    Xe đi theo đề bài thi và không đi quá 24km/h. <br>
                    Hoàn thành bài thi trong thời gian 2 phút, giữ tốc độ động cơ không quá 4.000 vòng/phút. <br>
                    Bánh xe trước và bánh xe bên lái phụ qua vùng vệt bánh xe. <br>
                    Bánh xe không đi vào đường giới hạn ống khí. <br>
                </div>
            </div>
            <div class="images col-md-3 hidden-load">
                <img src="https://trungtamhoanggia.com/Images/News/trungtamhoanggia_full_31342018_043426.jpg" alt=""
                    class="img-fluid mb-5">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtCVS3mbY3B6vgHD0itbsc4ZYTkS39RkQIHg&usqp=CAU"
                    alt="" class="img-fluid">
            </div>
        </div>
    </div>
    <style>
        .images :is(img) {
            border-radius: 3px;
        }
    </style>
    <script>
        document.querySelector('.license_list').classList.add('active');
    </script>
</body>

</html>