<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--font css files-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300&display=swap" rel="stylesheet">
    <!--style css-->
    <link rel="stylesheet" href="/css/styleLogin.css">
    <title>Login Page</title>
</head>

<body>
    @{
        ViewData["Title"] = "Login Page";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <!--Navbar-->
    <header>
        <!--Nav Container-->
        <div class="nav container hidden-load">
            <!--Menu Icon-->
            <i class='bx bx-menu' id="menu-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </i>
            <!--Logo-->
            <a href="#" class="logo">Learn<span>2</span>Drive</a>
            <!--Navbar List-->
            <ul class="navbar">
                <li> <a href="#">Home</a></li>
                <li> <a href="#">Giới thiệu </a></li>
                <li class="dropdown-toggle">
                    <a class="navbar-link" href="#" id="dropdown">Đào tạo lái xe</a>
                    <ul class="dropdown_menu dropdown_menu--animated dropdown_menu-1 dropdown-menu">
                        <li class="dropdown-item" href="#">Page 1</li>
                        <li class="dropdown-item" href="#">Page 2</li>
                        <li class="dropdown-item" href="#">Page 3</li>
                        <li class="dropdown-item" href="#">Page 4</li>
                    </ul>
                </li>
                <li> <a href="#">Tài liệu</a></li>
                <li> <a href="#">Liên hệ</a></li>
                <li> <a href="indext2.html">Đăng Nhập</a></li>
            </ul>
            <!--search Icon-->
            <i class='bx bx-search' id="search-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                     fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </i>
            <!--search box hidden-load-->
            <form class="search-box hidden-load container" action="">
                <input type="search" name="keyword" placeholder="Search here..." class="search-bar">
            </form>
        </div>
    </header>

    <!--Form Sign up-->
    <section class="form-c sign-up-form" id="container">
        <div class="form-container sign-up-container">
            <form action="/Login/signup" class="needs-validation" method="post" novalidate>
                <h1>Sign Up </h1>
                <!--Icon social-->
                <div class="social-container">
                    <a href="" class="social-icon bg1">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="" class="social-icon bg2">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="" class="social-icon bg3">
                        <i class="fa fa-google"></i>
                    </a>
                </div>
                <span>Tạo tài khoản</span>
                <div class="input-group">
                    <input type="text" name="Username" id="username" placeholder="Enter your username"
                           required>
                    <div class="invalid-feedback">
                        Enter your username
                    </div>
                </div>
                <div class="input-group">
                    <input type="password" name="password" id="password" placeholder="Enter your password"
                           required>
                    <div class="invalid-feedback">
                        Enter your password
                    </div>
                </div>
                <div class="input-group">
                    <input type="password" name="repass" id="repass" placeholder="Enter your password again" required>
                    <div class="invalid-feedback">
                        Reconfirm your password
                    </div>
                </div>
                <div class="input-group">
                    <input type="email" name="email" id="email" placeholder="Enter your email" required>
                    <div class="invalid-feedback">
                        Enter your email
                    </div>
                </div>
                <button class="primary mt-3" type="submit">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/Login/login" method="post" novalidate>
                <h1>Đăng nhập</h1>
                <p style="color:red">@TempData["Message"]</p>
                <p style="color:red">@TempData["Message1"]</p>
                <p style="color:green">@TempData["Message2"]</p>
                <!--Icon social-->
                <div class="social-container">
                    <a href="" class="social-icon bg1">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="" class="social-icon bg2">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="" class="social-icon bg3">
                        <i class="fa fa-google"></i>
                    </a>
                </div>
                <!-- <span>Or If you have an account, please Login </span> -->
                <div class="input-group">
                    <input type="text" name="username" id="username" placeholder="Username" required>
                    <div class="invalid-feedback">
                        Please enter your username
                    </div>
                </div>
                <div class="input-group">
                    <input type="password" name="password" placeholder="Password" required />
                    <div class="invalid-feedback">
                        Please enter your password
                    </div>
                </div>
                <button class="primary">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Tạo tài khoản ngay</h1>
                    <p>Hoặc nếu bạn có tài khoản thì hãy</p>
                    <button class="ghost" id="SignIn">Sign In</button>
                </div>

                <div class="overlay-panel overlay-right">
                    <h1>Welcome to L2D</h1>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem tempora facere repudiandae
                        mollitia quo quis a recusandae odio totam accusamus sint rem dolore repellat modi blanditiis,
                        consectetur, quam reiciendis velit.</p> -->
                    <button class="ghost mt-5" id="SignUp">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="pop-up">
            <dialog id="dialog">
                <h2>Hello.</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi omnis nihil nostrum impedit sequi eum,
                    odit ipsa amet, atque ut labore et quia qui repellat aperiam consequuntur tempore corporis numquam?
                </p>
                <button onclick="window.dialog.close();" aria-label="close" class="x">❌</button>
            </dialog>
        </div>
    </section>

    <!--Section Footer-->
    <section class="footer hidden-load container-fluid">
        <div class="footer-container container">
            <div class="footer-box hidden-load">
                <a href="#" class="logo">Learn<span>2</span>Drive</a>
                <div class="social">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                    <a href="#"><i class='bx bxl-youtube'></i></a>
                </div>
            </div>
            <div class="footer-box hidden-load">
                <h3>Page</h3>
                <a href="#">Home</a>
                <a href="#">Giới thiệu</a>
                <a href="#">Đào tạo lái xe</a>
                <a href="#">Tài liệu</a>
                <a href="#">Tin tức</a>
                <a href="#">Liên hệ</a>
            </div>

            <div class="footer-box hidden-load">
                <h3>Legal</h3>
                <a href="#">Privacy</a>
                <a href="#">Refund Policy</a>
                <a href="#">Cookies Policy</a>
            </div>

            <div class="footer-box hidden-load">
                <h3>Contact</h3>
                <a href="">United States</a>
                <a href="">Canada</a>
                <a href=""> Jaban</a>
                <a href="">Germany</a>
            </div>
        </div>
    </section>
    <!--Copyright-->
    <div class="copyright">
        <p>&#169; Đoán xem MA ĐỜ VÁC CƠ All Right Reserved</p>
    </div>
    <script>
        var forms = document.getElementsByTagName('form');
        for (var i = 0; i < forms.length; ++i) {
            var form = forms[i];
            form.addEventListener('submit', function (event) {
                if (!this.checkValidity()) {
                    event.preventDefault(); // Prevent form submission
                }
                this.classList.add('was-validated');
            });
        }
        document.querySelector('.login-link').classList.add('active');
    </script>
    <script src="js/LoginAnimation.js"></script>
    <script src="js/Home.js"></script>
    <script src="js/LoadAnimations.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

</body>

