* {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --main-color: #d90429;
    --text-color: #020102;
    --bg-color: #fff;
}
.is-active :is(*, svg) {
    color: var(--main-color);
    font-weight: bold;
}
#submitButton {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#dashboardSection :is(article) {
    transition: all 0.25s ease-in-out;
}

#dashboardSection :is(article):hover {
    transform: scale(1.01);
}

/*load animations*/
.hidden-load {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-10vw);
    transition: all 1s;
}

.show-load {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.current-playlist-name {
    font-weight: bold;
}

@media(prefers-reduced-motion) {
    .hidden-load {
        transition: none;
    }
}