* {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.submit-button {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}