* {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.license-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.input-group label {
    color: red;
}
