* {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
h3, a {
    text-decoration: none;
}
h3 {
    padding-top: 6px;
}
:root {
    /* --color-primary: #7380ec; */
    --color-primary: #d90429;
    --color-primary2: #d90429;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dceleb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
    --trnasistion: all 300ms ease;
}

.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}


h5 {
    font-size: 0.77rem;
}


small {
    font-size: 0.75rem;
}


p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
    font-size: 1rem;
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.danger {
    color: red;
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}


aside {
    height: 100vh;
    background: var(--color-white);
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .close {
    display: none;
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}

/*=================================== SIDEBAR ===================================*/
aside .sidebar-menu {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside .sidebar-menu h3 {
    font-weight: 500;
}

aside .sidebar-menu a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar-menu a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar-menu a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar-menu a.active {
    background: var(--color-light);
    color: var(--color-primary2);
    margin-left: 0; 
    border-radius: 7px;
}

aside .sidebar-menu a.active::before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar-menu a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar-menu a:hover {
    color: var(--color-primary2);
}

aside .sidebar-menu a:hover span {
    margin-left: 1rem;
}

aside .sidebar-menu .message-count {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/*=================================== SECTION 2 ===================================*/
main {
    margin-top: 1.4rem;
}

main .date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type="date"] {
    background: transparent;
    color: var(--color-dark);
}

main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;

}

main .insights>div {
    background: var(--color-white);
    padding: var(--padding-1);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights>div:hover {
    box-shadow: none;
}

main .insights>div span {
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights>div.expenses span {
    background: var(--color-danger);
}

main .insights>div.income span {
    background: var(--color-success);
}

main .insights>div .middle_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress_content {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .sales svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .insights .expenses svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

main .insights .incomes svg circle {
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

main .insights .progress_content .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insights small {
    margin-top: 1.6rem;
    display: block;
}

/*===================== List ===================== */
main .recent-order-list {
    margin-top: 2rem;
}

main .recent-order-list h2 {
    margin-left: 0.8rem;
}

main .recent-order-list table {
    background: var(--color-white);
    width: 100%;
    /* border-radius: var(--card-border-radius); */
    border-radius: 10px;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    font-size: 13px;
}


main .recent-order-list table:hover {
    box-shadow: none;
}

main .recent-order-list table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark);
}

main .recent-order-list table tr:last-child td {
    border: none;
}

main .recent-order-list a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

/*=================================== RIGHT SECTION ===================================*/
.right-section {
    margin-top: 1.4rem;
}

.right-section .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right-section .top button {
    display: none;
}

.right-section .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right-section .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section .theme-toggler span:active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right-section .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

.right-section .recent-updates {
    margin-top: 1rem;
}

.right-section .recent-updates h2 {
    margin-bottom: 0.8rem;
}

.right-section .recent-updates .updates {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
    transition: var(--trnasistion);
}

.right-section .recent-updates .updates:hover {
    box-shadow: none;
}

.right-section .recent-updates .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/*=====================================SALES ANALYTICS=====================================*/
.right-section .sales-analytics-section {
    margin-top: 2rem;
}

.right-section .sales-analytics-section h2 {
    margin-bottom: 0.8rem;
}

.right-section .sales-analytics-section .item-online {
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: var(--trnasistion);
}

.right-section .sales-analytics-section .item-online:hover {
    box-shadow: none;
}

.right-section .sales-analytics-section .item-online .right-sales-section {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right-section .sales-analytics-section .item-online .icon {
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}

.right-section .sales-analytics-section .item-online.offline .icon {
    background: var(--color-danger);
}

.right-section .sales-analytics-section .item-online.customers .icon {
    background: var(--color-success);
}

/* .right-section .sales-analytics-section .add-object {
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section .sales-analytics-section .add-object div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right-section .sales-analytics-section .add-object div h3 {
    font-weight: 600;
} */

/* ============================MEDIA t mệt rồi ============================*/

@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar-menu h3 {
        display: none;
    }

    aside .sidebar-menu a {
        width: 5.6rem;
    }

    aside .sidebar-menu a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-order-list {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .recent-order-list table {
        width: 83vw;
    }

    main table thead tr th:last-child,
    main table thead tr th:first-child {
        display: none;
    }

    main table tbody tr th:last-child,
    main table tbody tr th:first-child {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo {
        margin-left: 1rem;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar-menu h3 {
        display: inline;
    }

    aside .sidebar-menu a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar-menu a:last-child {
        position: absolute;
        bottom: 5rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .recent-order-list {
        position: relative;
        margin: 3rem 0 0;
        width: 100%;
    }

    main .recent-order-list table {
        width: 100%;
        margin: 0;
    }

    .right-section {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right-section .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 8rem;
        height: 4.6rem;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right-section .top .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right-section .profile .info {
        display: none;
    }

    .right-section .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right-section .top button span {
        font-size: 2rem;
    }
}