<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    @{
        ViewData["Title"] = "Learn2Drive";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <!--Home section-->
    <section class="home hidden-load" id="home">
        <div class="home-text hidden-load">
            <h1>We have Everthing <br> your <span>car</span> Need</h1>
            <p style="width: 28vw;">Chúc mừng bạn đến Trung tâm dạy lái xe uy tín số 1 tại MẼO</p>
            <!--home Button-->
            <a href="" class="btn hidden-load discover-button">Discover Now</a>
        </div>
    </section>
    <!--cars section-->
    <section class="info" id="cars">
        <div class="heading hidden-load">
            <span>Khoá học</span>
            <h2>Các khoá học lái xe</h2>
        </div>
        <!--Cars container-->
        <div class="info-container container">
            <!--box hidden-load 1-->
            <div class="box hidden-load">
                <img src="img/A1.jpg" alt="">
                <a href="/Home/License?licenseid=A1">
                    <h2>Hạng A1</h2>
                </a>
            </div>

            <div class="box hidden-load">
                <img src="img/A2.webp" alt="">
                <a href="">
                    <h2>Hạng A2</h2>
                </a>
            </div>
            <!--box hidden-load 2-->
            <div class="box hidden-load">
                <img src="img/sosan.jpeg" alt="">
                <a href="/Home/License?licenseid=B1">
                    <h2>Hạng B1 số tự động</h2>
                </a>
            </div>

            <!--box hidden-load 7-->
            <div class="box hidden-load">
                <img src="img/car5.jpg" alt="">
                <a href="">
                    <h2>Hạng B2</h2>
                </a>
            </div>

            <!--box hidden-load 3-->
            <div class="box hidden-load">
                <img src="img/C.jpg" alt="">
                <a href="">
                    <h2>Hạng C</h2>
                </a>
            </div>

            <!--box hidden-load 4-->
            <div class="box hidden-load">
                <img src="img/D.jpg">
                <a href="">
                    <h2>Hạng D-E</h2>
                </a>
            </div>
        </div>

    </section>

    <!--About-->
    <section>
        <section class="about container hidden-load" id="about">
            <div class="about-img hidden-load">
                <img src="img/about.png" alt="">
            </div>
            <div class="about-text hidden-load">
                <span>About Us</span>
                <h2>Khoá học chất lượng với <br> Giá Rẻ</h2>
                <p>Học Thử Trải Nghiệm trước khi Đăng kí</p>
                <!--About Button-->
                <p>Gọi Ngay</p>
                <a href="#" class="btn2">SĐT</a>
            </div>
        </section>
    </section>
    <!--parts section-->
    <section class="parts hidden-load" id="parts">
        <div class="heading">
            <span>What We Offer</span>
            <h2>L2D</h2>
            <p>Chúng Tôi luôn mang đến khóa học lái xe tốt nhất </p>
        </div>
        <!--parts container-->
        <div class="parts-container container hidden-load">
            <!--box hidden-load 1-->

            <div class="box hidden-load">
                <div class="icon-box hidden-load-img" style="width: 48px;">
                    <img src="img/thanh-toan-da-dang.png" alt="">
                </div>
                <div class="content">
                    Hình thức thanh toán đa dạng. Chi phí được chia ra nhiều lần đóng hoặc <span>trả góp </span> qua thẻ
                    tín dụng giúp giảm tải cho sinh viên
                </div>
            </div>

            <!--box hidden-load 2-->

            <div class="box hidden-load">
                <div class="icon-box hidden-load-img" style="width: 48px;">
                    <img src="img/thanh-toan-da-dang.png" alt="">
                </div>
                <div class="content">
                    Hình thức thanh toán đa dạng. Chi phí được chia ra nhiều lần đóng hoặc <span>trả góp </span> qua thẻ
                    tín dụng giúp giảm tải cho sinh viên
                </div>
            </div>

            <!--box hidden-load 3-->

            <div class="box hidden-load">
                <div class="icon-box hidden-load-img" style="width: 48px;">
                    <img src="img/thanh-toan-da-dang.png" alt="">
                </div>
                <div class="content">
                    Hình thức thanh toán đa dạng. Chi phí được chia ra nhiều lần đóng hoặc <span>trả góp </span> qua thẻ
                    tín dụng giúp giảm tải cho sinh viên
                </div>
            </div>

            <!--box hidden-load 4-->

            <div class="box hidden-load">
                <div class="icon-box hidden-load-img" style="width: 48px;">
                    <img src="img/thanh-toan-da-dang.png" alt="">
                </div>
                <div class="content">
                    Hình thức thanh toán đa dạng. Chi phí được chia ra nhiều lần đóng hoặc <span>trả góp </span> qua thẻ
                    tín dụng giúp giảm tải cho sinh viên
                </div>
            </div>

            <!--box hidden-load 5-->

            <div class="box hidden-load">
                <div class="icon-box hidden-load-img" style="width: 48px;">
                    <img src="img/thanh-toan-da-dang.png" alt="">
                </div>
                <div class="content">
                    Hình thức thanh toán đa dạng. Chi phí được chia ra nhiều lần đóng hoặc <span>trả góp </span> qua thẻ
                    tín dụng giúp giảm tải cho sinh viên
                </div>
            </div>

            <!--box hidden-load 6-->

            <div class="box hidden-load">
                <div class="icon-box hidden-load-img" style="width: 48px;">
                    <img src="img/thanh-toan-da-dang.png" alt="">
                </div>
                <div class="content">
                    Hình thức thanh toán đa dạng. Chi phí được chia ra nhiều lần đóng hoặc <span>trả góp </span> qua thẻ
                    tín dụng giúp giảm tải cho sinh viên
                </div>
            </div>
        </div>
    </section>
    <!--Blog Container-->
    <section class="blog" id="blog">
        <div class="heading">
            <span>Blog & News</span>
            <h2>Our Blog Content</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, fugit hic molestias numquam voluptate,
                dolores sit dolorem quisquam maiores.</p>
        </div>
        <!--Blog Container-->
        <div class="blog-container container">
            <!--box hidden-load 1-->
            <div class="box hidden-load">
                <img src="img/car1.jpg" alt="">
                <span>August 21 2022</span>
                <h3>How To Get Perfect Car At Low Price</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, fugit hic molestias numquam
                    voluptate, dolores sit dolorem quisquam maiores.</p>
                <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt'></i> </a>
            </div>

            <!--box hidden-load 2-->
            <div class="box hidden-load">
                <img src="img/car8.jpg" alt="">
                <span>August 21 2022</span>
                <h3>How To Get Perfect Car At Low Price</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, fugit hic molestias numquam
                    voluptate, dolores sit dolorem quisquam maiores.</p>
                <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt'></i> </a>
            </div>

            <!--box hidden-load 3-->
            <div class="box hidden-load">
                <img src="img/car3.jpg" alt="">
                <span>August 21 2022</span>
                <h3>How To Get Perfect Car At Low Price</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, fugit hic molestias numquam
                    voluptate, dolores sit dolorem quisquam maiores.</p>
                <a href="#" class="blog-btn">Read More<i class='bx bx-right-arrow-alt'></i> </a>
            </div>
        </div>
    </section>
    <script>
        document.querySelector('.home-link').classList.add('active');
        document.querySelector('.home').style.backgroundImage = "url('/img/Background-home.png')";
    </script>
</body>

</html>